html,body {
	background: #FF4D4D;
	width: 1200px;
	margin: auto;
}

h2 {
	font-family: PlayfairDisplay-BoldItalic;
	font-size: 1.3125em;
	color: #FFFFFF;
	letter-spacing: -0.031875em;
}
p {
	font-family: OpenSans;
	font-size: 0.875em;
	color: #FFFFFF;
	letter-spacing: -0.02125em;
	line-height: 1.375em;
}

.header {
	display: flex;
	flex-direction: row;
	margin-top: 4em;
}

.logo {
	font-family: PlayfairDisplay;
	font-weight: 900;
	font-size: 1.5em;
	color: #FFFFFF;
	text-transform: uppercase;
}

.social-icons {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	/*background-color: yellow;*/
}

.social-icons svg {
	flex-wrap: wrap;
	margin-left: 1.5em;
}

svg path:hover {
	fill: #fff;
}

.description {
	display: flex;
	flex-direction: row;
	margin-left: 180px;
}

.description__block {
	width: 408px;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.gallery__img {
	background-color: yellow;
	width: 384px;
	height: 288px;
	margin-bottom: 8px;
	margin-right: 8px;
	border: 1px solid #FFFFFF;
}

.gallery__img:hover{
	border: 1px solid #FFFFFF;
	box-shadow: 0 32px 56px 0 rgba(0,0,0,0.30);
}